/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --themeColor: #fff;
    --themeBgColor: rgb(64, 158, 255);
    --themeHoverColor: rgba(164, 158, 255, 0.6);
}